<div class="app-entrance" id="appEntrance" data-role="view" data-layout="loginLayout">
    <div class="container-logo" >
        <div class="circle-logo"></div>
    </div>
    <div style="margin-top: 30px; width: 100%; position: relative;">
        <button href="views/login.html" class="register-button" data-transition="overlay:down reverse" data-role="button">Log In</button>
        <br />
        <br />
        <button href="views/register.html" class="register-button-white" data-transition="overlay:down reverse" data-role="button">Register</button>
    </div>
</div>