<div class="campaign-list" id="voting" data-role="view" data-layout="default" data-show="app.Campaigns.show" data-model="app.Campaigns">
    <div class="campaign-top-label">Top 10 campaigns this week you can vote for</div>

    <div >
        <ul style="margin: 0px; padding: 0px;" id="organizationsList" data-role="listview" data-template="organizationsList-template" data-bind="source: campaigns"></ul>
    </div>
    <script id="organizationsList-template" type="text/x-kendo-template">
        <div class="list-container">
            <div class="list-left">
                <a data-role="listview-link" href="\#views/campaignDetails.html?uid=#:Id#">
                    <div class="campaign-avatar">
                        <img data-bind="attr:{src: GetPictureSmall}" />
                    </div>
                    <div class="div-inline margin-left-5">
                        <div class="list-event-name">
                            <span data-bind="text: Name"></span>
                        </div>
                        <div class="list-organization-name" data-bind="text: OrganizationId.Name"></div>
                    </div>
                    <div class="div-clear"></div>
                </a>
            </div>
            <div class="list-right">
                <div data-role="touch" data-bind="events: { tap: addVote }">
                    <div data-bind="voteClass: HasVoted"></div>
                    <div class="list-number-votes">
                        <span data-bind="text: NrVotes"></span>
                    </div>
                    <div class="list-small-text">votes</div>
                </div>
            </div>
        </div>
    </script>
</div>

<div id="votedModal" data-role="modalview" data-model="app.Campaigns" class="vote-modal-container">
    <div class="vote-modal-title">Your vote is appreciated</div>
    <br />
    <button data-role="button" class="fb-share-button" data-click="app.Campaigns.shareImagesViaFacebook"></button>
    <br />
    <a data-align="center" data-click="closeModalView" data-role="button" class="close-modal-button">Close</a>
</div>

<script type="text/javascript">
     function closeModalView(e) {
                // find the closest modal view, relative to the button element.
                var modalView = e.sender.element.closest("[data-role=modalview]").data("kendoMobileModalView");
                modalView.close();
            }    
</script>
