<div class="campaign-details-container" id="organizationDetails" data-role="view" data-transition="overlay:up" data-init="app.Campaign.init" data-show="app.Campaign.show" data-model="app.Campaign.model">
    <div data-role="navbar">
        <a data-role="backbutton" data-align="left">Back</a>
        <a data-align="right" data-icon="settings" data-role="button" href="views/settings.html"></a>
        <span data-role="view-title">Details</span>
    </div>
    <div class="campaign-details-img-container">
        <img class="campaign-details-img" data-bind="attr:{src: campaign.GetPictureBig}" />
    </div>
    <div class="campaign-detail-name" style="" data-bind="text: campaign.Name">
    </div>
    <div class="campaign-details-font-green">
        <div id="heart" data-role="touch" data-bind="events: { tap: addVote }"></div>
        <div style="text-align: center;" data-bind="text: campaign.NrVotes"></div>
        <div style="text-align: center;">votes</div>
    </div>
    <p></p>
    <div style="margin-left: 5px; margin-right: 5px;">
        <div class="campaign-details-font-gray" style="font-size: 16px;" data-bind="text: campaign.OrganizationId.Name">
        </div>
        <p></p>
        <a class="campaign-details-font-green" data-bind="attr: { href: campaign.OrganizationId.WebpageUrl }, text: campaign.OrganizationId.WebpageUrl"></a>
        <p></p>
        <div class="campaign-details-font-gray" data-bind="text: campaign.Description">
        </div>
    </div>
</div>

<div id="votedModal" data-role="modalview" data-model="app.Campaigns" class="vote-modal-container">
    <div class="vote-modal-title">Your vote is appreciated</div>
    <br />
    <button data-role="button" class="fb-share-button" data-click="app.Campaigns.shareImagesViaFacebook"></button>
    <br />
    <a data-align="center" data-click="closeModalView" data-role="button" class="close-modal-button">Close</a>
</div>

<script type="text/javascript">
     function closeModalView(e) {
                // find the closest modal view, relative to the button element.
                var modalView = e.sender.element.closest("[data-role=modalview]").data("kendoMobileModalView");
                modalView.close();
            }    
</script>