<div class="history-container" data-role="view" id="history" data-layout="default" data-transition="slide" data-model="app.History.model">
    <div class="history-title-label">
        History of campaigns by years and by weeks
    </div>
    <ul id="historyList" data-role="listview" data-bind="source: yearsDataSource" data-template="testHierarchy">
    </ul>
    
</div>

<script id="testHierarchy" type="text/x-kendo-template">
    <a href="\#views/historyDetails.html?parent=#: id #" class="parent">
        <div class="history-year">
            <div class="history-year-left" data-bind="text: Year"></div>
            <div class="history-year-right"></div>
        </div>
    </a>
</script>

