<div class="history-details-container" data-role="view" id="historyDetails" data-transition="slide" data-show="app.HistoryDetails.show" data-model="app.HistoryDetails.model">
    <div data-role="navbar">
        <a data-role="backbutton" data-align="left">Back</a>
        <a data-align="right" data-icon="settings" data-role="button" href="views/settings.html"></a>
        <span data-role="view-title">Weeks</span>
    </div>
    <ul id="historyDetailsList" data-role="listview" data-bind="source: historyDetailsDataSource" data-template="historyDetails-template">
    </ul>    
</div>

<script id="historyDetails-template" type="text/x-kendo-template">
    
    <div class="list-container">
            <div class="list-left">
                <a >
                    <div class="history-campaign-avatar">
                        <img data-bind="attr:{src: getPictureSmall}" />
                        <div class="history-week-lbl">week <span data-bind="text: Week"></span></div>
                    </div>
                    <div class="div-inline margin-left-5">
                        <div class="list-event-name">
                            <span data-bind="text: Campaign.Name"></span>
                        </div>
                        <span class="list-organization-name" data-bind="text: Campaign.Organization"></span>
                    </div>
                    <div class="div-clear"></div>
                </a>
            </div>
            <div class="history-list-right">
                <div style="margin-top: 5px;">
                    <div class="history-list-number-value">
                        <span data-bind="text: NrVotes"></span>
                    </div>
                    <div class="history-list-small-text">votes</div>
                    <div class="history-list-number-value">
                        <span data-bind="text: Amount"></span> $
                    </div>
                    <div class="history-list-small-text">raised</div>
                </div>
            </div>
        </div>
</script>
