<div class="login" id="login" data-role="view" data-layout="loginLayout" data-tranistion="overlay:up">
    <div class="container-logo">
        <div class="circle-logo"></div>
    </div>
    
    <div id="loginMail" style="margin-top: 30px; width: 100%;">
        <div class="input-login-container">
            <input class="input-login" type="text" id="login-email" placeholder="E-mail" />
        </div>
        <div class="input-login-container" style="margin-top: 5px;">
            <input class="input-login" type="password" id="login-password" placeholder="Password" />
        </div>
    </div>
    
    <div style="margin-top: 30px; font-size: 20px;">
        <button class="register-button" data-transition="overlay:down reverse" data-role="button" data-click="app.Login.login">Login</button>
    </div>
</div>