<div class="news-container" data-role="view" id="news" data-layout="default" data-model="app.News.model">
    <div class="news-title-label">
        Get in touch with the latest campaigns around the globe
    </div>
    <ul id="newsList" data-role="listview" data-bind="source: newsDataSource" data-template="news-template">
    </ul>
</div>

<script id="news-template" type="text/x-kendo-template">
    <div class="news-list-item-container" style="position: relative;">
        <div class="news-list-title" data-bind="text: Title"></div>
        <div class="news-list-description" data-bind="text: Description" style="margin-bottom: 30px;"></div>
        <div style="position: absolute; bottom: 0px; left: 0px; width: 100%;">
            <div class="news-list-date" data-bind="text: CreatedAtString"></div>
            <a class="news-list-link" data-bind="attr: {href: Source}}">Read more</a>    
        </div>
    </div>
</script>
