<div class="login" id="register" data-role="view" data-layout="loginLayout" data-transition="overlay:up" data-model="app.Register">
    <div class="container-logo">
        <div class="circle-logo"></div>
    </div>

    <div id="registerMail" data-bind="visible: model.isMail" style="color: green;">
        <div class="input-login-container">
            <input class="input-login" type="text" id="email" data-bind="value:model.Username" placeholder="E-mail"/>
        </div>
        <div class="input-login-container" style="margin-top: 5px;">
            <input class="input-login" type="password" id="password" data-bind="value:model.Password" placeholder="Password"/>
        </div>
        <div class="input-login-container" style="margin-top: 5px;">
            <input class="input-login" type="password" id="confirmPassword" data-bind="value:model.ConfirmPassword" placeholder="Confirm Password"/>
        </div>
    </div>

    <div id="registerPayment" data-bind="visible: model.isPayment" style="color: green;">
        <div id="currency">
            <div class="register-choose-currency" style="text-align: center;">Choose a currency</div>
            <div class="register-radio-group">
                <input id="euroRadio" type="radio" name="currencyGroup" value="EUR" data-bind="checked: model.Currency" checked="checked" />
                <label for="euroRadio">€</label>
                <input id="dollarRadio" type="radio" name="currencyGroup" value="USD" data-bind="checked: model.Currency" />
                <label for="dollarRadio">$</label>
            </div>
        </div>

        <div>
            <input id="termsCheck" type="checkbox" data-bind="checked: model.termsAccepted"/>
            <label for="termsCheck" style="color: green;"><a href="views/terms.html" data-transition="overlay:down" data-role="button" class="terms-link">Terms of use</a></label>
        </div>
    </div>

    <div class="register-radio-group">
        <input id="mailRadio" type="radio" name="registerGroup" value="mail" data-bind="checked: model.selectedGroup, click: changeGroup" checked="checked" />
        <!--<label for="mailRadio" class="css-label"></label> -->
        <input id="paymentRadio" type="radio" name="registerGroup" value="payment" data-bind="checked: model.selectedGroup, click: changeGroup" />
        <!--<label for="paymentRadio" class="css-label"></label>-->
    </div>

    <div style="font-size: 20px;">
        <button class="register-button" data-transition="overlay:down reverse" data-role="button"  data-bind="enabled: model.isValidForm"  data-click="app.Register.register">Register</button>
        <!--data-enable="model.isValidForm"-->
    </div>
</div>
