<div data-role="view" id="settings">
    <div data-role="navbar">
        <a data-role="backbutton" data-align="left">Back</a>
        <span data-role="view-title">Settings</span>
    </div>
    
    <div style="margin-top: 30px; font-size: 20px;">
        <button class="register-button" data-transition="overlay:down reverse" data-role="button" data-click="app.Login.logout">Logout</button>
    </div>
</div>