<div id="terms" class="terms-container" data-role="view" data-layout="loginLayout" data-tranistion="overlay:up">
    <div class="container-logo">
        <div class="circle-logo"></div>
    </div>
    
    <div id="termsContent" class="terms-gray">
        <h2 class="terms-green">52 Terms of Use</h2>
        <h3 class="terms-green">1. Introduction</h3>
        <p>Changes and Modifications. 52 may change or amend these terms. If we make material changes, we will notify you, either through the user interface, in an email notification, or through other reasonable means. Your use of the Service after the date such change(s) become effective will constitute consent to the changed terms. If you do not agree to the changes, you must immediately stop using the Service. Otherwise the new terms will apply to you.
            <br />
            As long as you comply with this Agreement, 52 grants you a limited, revocable, non-exclusive, non-assignable, non-sublicensable right to access and use the Service as it is intended to be used and in accordance with this Agreement and applicable law. We grant you no other rights, implied or otherwise.
            <br />
            Links To Other Sites. The Service may contain links to or allow you to interact with and make use of other independent third-party websites, products or services ("Third-Party Sites, Products and Services"). Access to Third-Party Sites, Products and Services is provided solely as a convenience to our visitors. Such Third-Party Sites, Products and Services are not under 52’s control and 52 does not necessarily endorse the content, advertising, products, services or other materials on or available from such Third-Party Sites, Products and Services. Your use of any Third-Party Sites, Products and Services may be subject to the third-party provider's terms and conditions and privacy policy and may involve the disclosure or transfer of information from or about you to the third-party provider. You will need to make your own independent judgment regarding your use of and interaction with any Third-Party Sites, Products and Services. You acknowledge and agree that 52 is not responsible for the availability of any Third-Party Sites, Products and Services and that 52 shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with your use of or interaction with any Third-Party Sites, Products and Services.
        </p>
        
        

        <h3 class="terms-green">2. Description of Service</h3>
        <p>General Description. Psychologists Elizabeth Dunn, Lara Aknin and Michael Norton of Harvard Business School, did a research. Participants were given either $5 or $20 to spend by the end of the day. Half were instructed to buy something for themselves; the others used it help out somebody else. That evening, people who had been assigned to spend the money on someone else reported happier moods over the course of the day than did those people assigned to spend the money on themselves.
            <br />
            Have you ever wanted to donate but you didn’t know where to start?
            <br />
            The main idea of 52 application is to collect small but continuous donations on a weekly basis, hence the name - 52 weeks in a year. Every user commits to donate 1$ or 1€ weekly. This makes a small difference to someone who donates but it makes a whole lot of difference to the one who receives.
            <br /><br />
            We decided to use PayPal API that is mostly available worldwide, making donations possible and easy from all over the word. Using a back office portal 52 will collect and coordinate money transfers with charity foundations.
            <br /><br />
            Our goal is to help people to donate money in a simple way. We aim to get weekly donations which would in summary be of great help to those who need it most.
            And we want to give a chance to our users to vote for their favorite campaign of that week. The weekly winner receives all the donations from that week.
            <br /><br />            
            Joining 52 family, the sum is greater than the parts. Your part is a single click.
            How hard can it be?
        </p>
        
        
        <h3 class="terms-green">3. Conditions of use and user conduct</h3>
        <p>
As a condition of use, and the licenses granted to you herein, you agree to the following:

Certain components of the Service permit or require you to open an account (including setting up a password). You are entirely responsible for maintaining the confidentiality of your account information, including your password, and for any and all activity that occurs under your account. You agree to notify 52 immediately of any unauthorized use of your account or password, or any other breach of security. If your account is a single user account, you must not knowingly allow others to use your account or password.
You must not use the Service to harass, threaten, impersonate, or intimidate anyone.
You must not upload, post, email, transmit, or otherwise make available any content that is unlawful, harmful, threatening, abusive, harassing, tortuous, defamatory, vulgar, obscene, libelous, invasive of another's privacy, hateful, or racially, ethnically, or otherwise objectionable.
You must not upload, post, email, transmit, publicly perform, or otherwise make available any content that violates the copyright, trademark, publicity, privacy, or other rights of third parties. You must comply with all intellectual property and other laws applicable to your use of the Service.
You must not upload, post, email, transmit or otherwise make available any unsolicited or unauthorized advertising, promotional materials, "junk mail," "spam," "chain letters," "pyramid schemes," "affiliate links," or any other form of solicitation.
You must not transmit any worms or viruses or any code of a destructive nature.
You must not violate any laws applicable to your use of the Service (including but not limited to intellectual property laws).
You must not use the Service for any illegal or unauthorized purpose. If you are an international user, you agree to comply with all local laws regarding online conduct and acceptable content.
</p>
        

<h3 class="terms-green">4. Age Restrictions on Use of the Service</h3>

<p>Users must be at least 18 years old. Users must be 18 years of age or older to use the Service. By using the Service you represent that you are 18 or older, and that you will not permit a minor under the age of 18 to use the Service, your 52 account, or otherwise interact with the Service. 52 will never knowingly solicit or accept personally identifiable information or other content from a user or visitor who 52 knows is under 18 years of age. If 52 discovers that a user under 18 years of age has created an account, or that a user or visitor under 18 years of age has posted personally identifiable information or other content to the Service, 52 will terminate the account and remove the information or other content.
</p>
        
        
<h3 class="terms-green">5. Payment Terms</h3>

<p>You agree to pay 1$ or 1€ weekly via PayPal service.
Detection of fraud is under the authority of PayPal service.
If you don't want to renew your subscription, you can cancel at any time.
</p>
        
  
<h3 class="terms-green">6. Intellectual property infringement, warranties</h3>

<p>If you believe that 52, or any user of the Service, has violated a copyright, trademark or other right you claim in your work, please contact us at copyright@fiftytwo.com.

All text, graphics, user interfaces, visual interfaces, photographs, trademarks, logos, sounds, music, artwork, content, and computer code (collectively, “52 Content”), including but not limited to the design, structure, selection, coordination, expression, “look and feel,” and arrangement of such 52 Content, contained on the Service is owned, controlled, or licensed by or to 52, and is protected by trade dress, copyright, patent, and trademark laws, and various other intellectual property rights.

As a user of the 52 Service, 52 grants to you a non-assignable, non-transferable, non-sublicensable license, revocable at any time at 52’s sole discretion, to use (i) the 52 name and (ii) the 52 logo, unaltered, unmodified, and as it appears on the fiftytwo.com website solely for the purpose of truthfully referring to 52, including for use in creating a website that explicitly references 52 (the “Use License”). In addition to the restrictions above, such Use Licenses are expressly conditioned on: (i) no 52 Content may be used in a manner that creates confusion among consumers or that suggests that you (or your website) are sponsored or endorsed by 52, or affiliated with 52, (ii) no 52 Content beyond the 52 name and logo may be used, (iii) any such use must be of the full 52 name and/or unaltered and current 52 logo, (iv) any such use may in no way disparage 52, any user of the 52 Service, or any third party, and (v) any website that uses 52 Content must include prominent text to the effect that “this website is not affiliated with or sponsored or endorsed by 52.” You agree to make no other uses of the 52 name and logo beyond those expressly allowed herein, pursuant to a Use License.

Except as expressly provided in this Agreement or otherwise permitted by law, no 52 Content may be used, copied, reproduced, modified, republished, uploaded, posted, publicly displayed, publicly performed, publicly performed by means of a digital audio transmission, encoded, translated, transmitted, or distributed in any way to any other computer, server, website, or any other medium for publication or distribution or for any commercial enterprise or purpose, without 52’s express prior written consent.
</p>
        
  

<h3 class="terms-green">7. Termination; Breach of This Agreement</h3>

<p>You agree that 52 may, at its sole discretion and without prior notice, terminate your account, your access to the Service, and/or block your future access to the Service, without providing a refund of any subscription fees. But way of example, but not by way of limitation, we may terminate your account if we determine that you have violated this Agreement or other agreements or guidelines that may be associated with your use of the Service. Please note that it is 52’s policy to terminate the accounts of users who repeatedly violate the intellectual property rights of third parties.

If 52 takes any legal action against you as a result of your breach of this Agreement, 52 will be entitled to recover from you, and you agree to pay, all reasonable attorney’s fees and costs of such action, in addition to any other relief granted to 52.
</p>
        
  

<h3 class="terms-green">8. Disclaimer of Warranties</h3>

<p>YOU EXPRESSLY UNDERSTAND AND AGREE THAT YOUR USE OF THE SERVICE IS AT YOUR SOLE RISK. THE SERVICE IS PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS. 52 AND ITS SUBSIDIARIES, DIRECTORS, OFFICERS, EMPLOYEES, STOCKHOLDERS, AND LICENSORS (THE “52 AFFILIATES”) EXPRESSLY DISCLAIM ALL REPRESENTATIONS, WARRANTIES, AND CONDITIONS OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY, MERCHANTABLE QUALITY, FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT, TITLE OR ANY WARRANTY OR CONDITION ARISING BY USAGE OF TRADE, COURSE OF DEALING OR COURSE OF PERFORMANCE. 52 AND THE 52 AFFILIATES MAKE NO WARRANTY THAT (a) THE SERVICE WILL MEET YOUR REQUIREMENTS; (b) THE SERVICE WILL BE UNINTERRUPTED, TIMELY, SECURE, OR ERROR-FREE; (c) USER CONTENT WILL BE HOSTED AND/OR TRANSMITTED WITHOUT INTERRUPTION OR CESSATION; (d) ANY PRODUCTS, SITES, INFORMATION, OR OTHER MATERIAL, WHETHER IN TANGIBLE OR INTANGIBLE FORM, PURCHASED OR OBTAINED BY YOU THROUGH THE SERVICE WILL MEET YOUR EXPECTATIONS OR ANY STANDARD OF QUALITY; AND (e) ANY DEFECTS IN THE OPERATION OR FUNCTIONALITY OF THE SERVICE OR RELATED SOFTWARE WILL BE CORRECTED.
ANY MATERIAL, INFORMATION, OR DATA DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE USE OF THE SERVICE IS ACCESSED AT YOUR OWN DISCRETION AND RISK, AND YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM AND/OR LOSS OF DATA THAT RESULT FROM THE DOWNLOAD OF SUCH MATERIAL. NO ADVICE, REPRESENTATION OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM 52, THE 52 AFFILIATES, OR THROUGH THE SERVICE SHALL CREATE ANY WARRANTY NOT EXPRESSLY STATED IN THE AGREEMENT.
</p>
        
  

<h3 class="terms-green">9. Limitation of liability</h3>

<p>YOU EXPRESSLY UNDERSTAND AND AGREE THAT 52 AND THE 52 AFFILIATES WILL NOT BE LIABLE TO YOU FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL, EXEMPLARY, OR PUNITIVE DAMAGES THAT MAY BE INCURRED BY YOU, HOWEVER CAUSED. THIS INCLUDES, BUT IS NOT LIMITED TO, ANY LOSS OF PROFITS, GOODWILL, OR BUSINESS REPUTATION; ANY LOSS OF DATA; ANY COST OF PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; OR ANY OTHER INTANGIBLE LOSSES. THIS ALSO INCLUDES, WITHOUT LIMITATION, ANY LOSS OR DAMAGES THAT MAY BE INCURRED BY YOU AS A RESULT OF (a) ANY CHANGES THAT 52 MAY MAKE TO THE SERVICE; (b) ANY PERMANENT OR TEMPORARY CESSATION OF THE SERVICE; (c) THE DELETION OR CORRUPTION OF OR FAILURE TO STORE ANY CONTENT OR OTHER PROPERTY MAINTAINED THROUGH THE SERVICE; OR (d) YOUR FAILURE TO KEEP YOUR PASSWORD OR ACCOUNT DETAILS SECURE. THE LIMITATIONS AND EXCLUSIONS OF LIABILITY ABOVE SHALL APPLY IRRESPECTIVE OF THE THEORY OF LIABILITY, INCLUDING CONTRACT (INCLUDING FUNDAMENTAL BREACH), WARRANTY, PRODUCT LIABILITY, STRICT LIABILITY, TORT (INCLUDING NEGLIGENCE), OR OTHER THEORY, EVEN IF WE (OR OUR AFFILIATES) HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
TO THE EXTENT PERMITTED BY LAW, THE TOTAL LIABILITY OF 52, AND ITS SUPPLIERS AND DISTRIBUTORS, FOR ANY CLAIM UNDER THESE TERMS, INCLUDING FOR ANY IMPLIED WARRANTIES, IS LIMITED TO THE AMOUNT YOU PAID US TO USE THE SERVICES (OR, IF WE CHOOSE, TO SUPPLYING YOU THE SERVICES AGAIN).
YOU SPECIFICALLY ACKNOWLEDGE THAT 52 AND THE 52 AFFILIATES SHALL NOT BE LIABLE FOR USER CONTENT OR THE DEFAMATORY, OFFENSIVE, OR ILLEGAL CONDUCT OF ANY THIRD PARTY AND THAT THE RISK OF HARM OR DAMAGE FROM THE FOREGOING RESTS ENTIRELY WITH YOU.
</p>
        
  

<h3 class="terms-green">10. Exclusions and Limitations</h3>

<p>SOME JURISDICTIONS DO NOT PERMIT THE EXCLUSION OF CERTAIN WARRANTIES OR CONDITIONS OR THE LIMITATION OR EXCLUSION OF LIABILITY FOR CERTAIN DAMAGES. ACCORDINGLY, ONLY THE LIMITATIONS THAT ARE LAWFUL IN YOUR JURISDICTION WILL APPLY TO YOU AND, IN SUCH INSTANCES, 52 AND/OR THE 52 AFFILIATES’ LIABILITY WILL BE LIMITED TO THE MAXIMUM EXTENT PERMITTED BY LAW.
</p>
        
  

<h3 class="terms-green">11. Indemnification</h3>

<p>You agree to indemnify and hold 52 and/or the 52 Affiliates harmless from and against any and all liabilities and costs (including reasonable attorney’s fees) incurred by 52 and/or the 52 Affiliates in connection with any claim arising out of your breach of the Agreement. 52 reserves the right, at its own expense, to assume the exclusive defense and control of any matter otherwise subject to indemnification by you.
</p>
        
  

<h3 class="terms-green">12. General Terms</h3>

<p>Entire Agreement. This Agreement is the whole legal agreement between you and 52. It governs your use of the Service and completely replaces any prior agreements between you and 52 with respect to the Service. You may also be subject to additional terms and conditions that may apply when you use or purchase other products or services from 52.

Governing Law. The laws of the state of Serbia, excluding Serbia’s conflict of laws rules, will apply to any disputes arising out of or relating to these terms or the 52 Service.

Dispute Resolution. Any dispute arising out of or relating to these terms or the 52 Service shall be submitted exclusively to confidential binding arbitration in Novi Sad, Serbia, except that to the extent you have in any manner violated or threatened to violate 52’s intellectual property rights, we may seek injunctive or other appropriate relief in any state or federal court in the State of Serbia. You hereby consent to, and waive all defenses of lack of personal jurisdiction and forum non conveniens with respect to venue and jurisdiction in the state and federal courts of Serbia.To the fullest extent permitted by applicable law, no arbitration under this Agreement shall be joined to an arbitration involving any other party subject to this Agreement, whether through class action proceedings or otherwise.

Statute of Limitations. You agree that regardless of any statute or law to the contrary, any claim under this Agreement must be brought within one (1) year after the cause of action arises, or such claim or cause of action is forever barred.

Severability of Terms; Non-waiver of Terms; Assignment. If any portion of the Agreement is held to be invalid or unenforceable, such provision shall be stricken and the remainder of the Agreement enforced as written. If 52 does not exercise or enforce any legal right or remedy including those contained in the Agreement or arising under applicable law, this will not be taken to be a formal waiver of our rights. 52 may assign or delegate some or all of its rights and obligations under this Agreement.
</p>
        
      
    
    </div>
    
    <div>
        <button class="register-button" data-transition="overlay:down reverse" data-role="backbutton">Back</button>
    </div>
</div>