/* THEME BUILDER  */
.km-ios7 .km-view .km-content .km-list > li {
    color: rgb(0, 209, 132);
}
.km-ios7 .km-view .km-content .km-list > li .km-icon {
    color: rgb(0, 209, 132);
}
.km-ios7 .km-view .km-content .km-listgroupinset .km-group-title {
    color: rgb(255, 255, 255);
}
.km-ios7 .km-view .km-content .km-listgroupinset .km-group-title .km-text {
    color: rgb(153, 153, 153);
}
.km-ios7 .km-view .km-navbar {
    background-color: rgb(0, 173, 124);
}
.km-ios7 .km-view .km-navbar .km-button {
    border-color: rgb(255, 255, 255);
}
.km-ios7 .km-view .km-navbar .km-button .km-text {
    color: rgb(255, 255, 255);
}
.km-ios7 .km-view .km-navbar .km-button.km-state-active .km-text {
    color: rgb(255, 255, 255);
}
.km-ios7 .km-view .km-navbar .km-view-title > * {
    color: rgb(255, 255, 255);
}
.km-ios7 .km-view .km-content .km-list .km-state-active .km-listview-link {
    color: rgb(0, 209, 132);
}
.km-ios7 .km-view .km-tabstrip .km-state-active span.km-icon {
    color: rgb(0, 209, 132);
}
.km-ios7 .km-view .km-tabstrip .km-button.km-state-active .km-text {
    color: rgb(0, 209, 132);
}
.km-ios7 .km-view .km-tabstrip .km-button .km-icon {
    color: rgb(127, 127, 127);
}
.km-ios7 .km-view .km-tabstrip .km-button .km-text {
    color: rgb(127, 127, 127);
}
.km-ios7 .km-view .km-content .km-button.km-state-active {
    background-color: rgb(0, 209, 132);
}
.km-ios7 .km-view .km-content .km-button .km-text {
    color: rgb(0, 209, 132);
}
.km-ios7 .km-view .km-content .km-button.km-state-active .km-text {
    color: rgb(255, 255, 255);
}
.km-ios7 .km-view .km-content .km-button {
    border-color: rgb(0, 209, 132);
    background-color: rgb(255, 255, 255);
}
.km-android .km-view .km-content {
    background-color: rgb(255, 255, 255);
}
.km-android .km-view .km-content .km-list > li {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 173, 124);
}
.km-android .km-view .km-content .km-list > li .km-icon {
    color: rgb(0, 189, 135);
}
.km-android .km-view .km-content .km-listgroupinset .km-group-title {
    color: rgb(15, 173, 0);
}
.km-android .km-view .km-content .km-listgroupinset .km-group-title .km-text {
    color: rgb(178, 178, 178);
}
.km-android .km-view .km-tabstrip .km-button {
    background-color: rgb(255, 255, 255);
}
.km-android .km-view .km-tabstrip .km-button .km-icon {
    color: rgb(178, 178, 178);
}
.km-android .km-view .km-tabstrip .km-button.km-state-active {
    background-color: rgb(255, 255, 255);
}
.km-android .km-view .km-tabstrip .km-state-active span.km-icon {
    color: rgb(0, 189, 135);
}

/* CUSTOM CSS*/
.circle-logo {
    width: 200px;
    height: 240px;
    background-color: #ffffff !important;
    background: url(images/logo_login.png) no-repeat;
    background-size: 60%;
    background-position:50% 50%;
    margin-left: auto;
    margin-right: auto;
}

.circle-logo-small {
    width: 20px;
    height: 20px;
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
    background-color: #ffffff !important;
    background: url(images/logo_login.png) no-repeat;
    background-size: 90%;
    background-position:50% 50%;
    border: solid 1px #008000;
    margin-left: auto;
    margin-right: auto;
}

.circle-logo-small-vote {
    width: 20px;
    height: 20px;
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
    /*background-color: #ffffff !important;*/
    background: url(images/logo_number.png) no-repeat;
    background-size: 95%;
    background-position:50% 50%;
    border: solid 1px #008000;
    margin-left: auto;
    margin-right: auto;
}

.circle-logo-organization {
    width: 50px;
    height: 50px;
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
    background-color: #008000 !important;
    background-position:50% 50%;
    border: solid 1px #008000;
    margin-left: auto;
    margin-right: auto;
}

.campaign-details-img-container {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.campaign-details-img {
    width: 100%;
}

.campaign-details-logo {
    width: 85px;
    height: 85px;
    background-color: #ffffff !important;
    background: url(images/52-greeen.png) no-repeat;
    background-position:50% 50%;
    margin-left: auto;
    margin-right: auto;
}

.container-logo {
    background-color: #ffffff !important;
    position: relative;
}

.container-logo h2{
    text-align: center;
    color: #008000;
}

.register-radio-group {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 5px;
    font-size: 20px;
}

.register-button {
    width: 100%;
    color: #ffffff !important;
    background-color: #009e72 !important;
    height: 50px;
    text-align: center;
    vertical-align: central;
    padding: 0px !important;
    margin: 0px !important;
}

.register-button-white {
    width: 100%;
    color: #ffffff !important;
    background-color: white !important;
    height: 50px;
    text-align: center;
    vertical-align: central;
    border: solid 1px #009e72 !important;
    color: #009e72 !important;
    padding: 0px !important;
    margin: 0px !important;
}

.register-choose-currency {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300 !important;
    color: #b0b1b1 !important;
    font-size: 18px;
}

.terms-link.km-button {
    border: none;
    background: none;
    color: green;
    text-decoration: underline;
}

.list-container {
    height: 70px;
    background-color: #ffffff !important;
    border-bottom: 1px solid #b0b1b1 !important;
}

.list-left {
    width: 70%;
    float: left;
    height: 100%;
}

.list-right {
    float: right;
    width: 20%;
    background-color: #b0b1b1 !important;
    height: 100%;
    color: white !important;
}

.list-event-name {
    color: #009e72;
    font-size: 14px;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 500 !important;
}

.list-organization-name {
    color: #b0b1b1;
    font-size: 10px;
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    width: 150px;
}

.list-number-votes {
    text-align: center;
    font-size: 10px;
}

.list-small-text {
    margin-top: -4px;
    font-size: 10px;
    text-align: center;
}

.history-list-number-value {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

.history-list-small-text {
    font-size: 9px;
    text-align: center;
}

.div-inline {
    float: left;
    margin-top: 17px;
}

.campaign-avatar {
    float: left;
}

.campaign-avatar img {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    margin-top: 10px;
}

.history-campaign-avatar {
    float: left;
}

.history-campaign-avatar img {
    width: 40px;
    height: 40px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    margin-top: 10px;
}

.history-week-lbl {
    font-size: 9px;
    width: 40px;
    text-align: center;
    color: #b0b1b1;
}

.div-clear {
    clear: both;
}

.margin-left-5 {
    margin-left: 5px;
}


/* LOGIN */
.login {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 400 !important;
    text-transform: none;
}

.app-entrance {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 400 !important;
    font-size: 15px !important;
    text-transform: none;
}

.input-login {
    background-color: white !important;
    color: #009e72 !important;
    border: 0px solid #b0b1b1 !important;
    outline-color: #b0b1b1 !important;
    outline-width: 1px !important;
    outline-offset: 1px !important;
    font-size: 20px;
}

.km-ios7 .input-login {
    background-color: white !important;
    color: #009e72 !important;
    border: 0px solid #009e72 !important;
    outline-color: #009e72 !important;
    outline-width: 1px !important;
    outline-offset: 1px !important;
    font-size: 20px;
}

.input-login-container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* CAMPAIGN LIST */

.campaign-list {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 400 !important;
    text-transform: none !important;
}

.campaign-top-label {
    text-align: center;
    color: #009e72;
    font-size: 11px;
    margin-top: 5px;
    border-bottom: 1px solid #b0b1b1; 
}

.campaign-details-logo {
    width: 40px;
    height: 40px;
    background-color: #b0b1b1 !important;
    background: url(images/52-white.png) no-repeat;
    background-size: 95%;
    background-position:50% 50%;
    margin-left: auto;
    margin-right: auto;
}

.campaign-details-logo-voted {
    width: 40px;
    height: 40px;
    background-color: #b0b1b1 !important;
    background: url(images/52-greeen.png) no-repeat;
    background-size: 95%;
    background-position:50% 50%;
    margin-left: auto;
    margin-right: auto;
}

/* CAMPAIGN DETAILS */
.campaign-detail-name {
    text-align: center;
    margin-left: 5px;
    font-family: 'Roboto Slab', sans-serif !important;
    font-weight: 500 !important;
    color: #009e72 !important;
    font-size: 16px;
}

.campaign-details-container {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 400 !important;
    text-transform: none !important;
}

.campaign-details-heart-logo {
    width: 85px;
    height: 85px;
    background-color: #ffffff !important;
    background: url(images/52-gray.png) no-repeat;
    background-position:50% 50%;
    margin-left: auto;
    margin-right: auto;
}

.campaign-details-heart-logo-voted {
    width: 85px;
    height: 85px;
    background-color: #ffffff !important;
    background: url(images/52-greeen.png) no-repeat;
    background-position:50% 50%;
    margin-left: auto;
    margin-right: auto;
}

.campaign-details-font-gray {
    color: #b0b1b1 !important;
}

.campaign-details-font-green {
    color: #009e72 !important;
}

/* NEWS */
.terms-container {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300 !important;
    text-transform: none !important;
    color: #b0b1b1 !important;
}

.terms-gray {
    color: #b0b1b1 !important;
}

.terms-green {
    color: #009e72 !important;
}

.news-container {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300 !important;
    text-transform: none !important;
}

.news-list-item-container {
    /*height: 200px;*/
    border-bottom: 1px solid #b0b1b1;
    margin: 5px;
}

.news-title-label {
    font-size: 11px;
    text-align:center;
    color: #009e72 !important;
    margin-top: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #b0b1b1 !important;
}

.news-list-title {
    font-size: 14px;
}

.news-list-description {
    font-size: 10px;
    color: #b0b1b1;
    margin-top: 10px;
    margin-bottom: 10px;
    /*height: 100px;*/
    overflow: hidden;
    word-break: break-all;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.news-list-date {
    float: left;
    font-size: 12px;
    margin-left: 5px;
    color: #b0b1b1 !important;
}

.news-list-link {
    float:right;
    margin-right: 5px;
    font-size: 12px;
}

/* HISTORY */

.history-container {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300 !important;
    text-transform: none !important;
}

.history-title-label {
    font-size: 11px;
    text-align:center;
    color: #009e72 !important;
    margin-top: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #b0b1b1;
}

.history-year {
    height: 80px;
    border-bottom: 1px solid #b0b1b1;
}

.history-year-left {
    float: left;
    margin-left: 10px;
    font-family: 'Roboto Slab', sans-serif !important;
    font-weight: 300 !important;
    font-size: 44px;
    margin-top: 20px;
    color: #b0b1b1 !important;
}

.history-year-left::after {
    content: "." !important;
}

.history-year-right {
    float: right;
    width: 64px;
    height: 61px;
    background-color: #ffffff !important;
    background: url(images/arrow_right.png) no-repeat;
    background-position:50% 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 9px;
}

.history-details-container {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300 !important;
    text-transform: none !important;
}

.history-list-right {
    float: right;
    width: 20%;
    background-color: #b0b1b1 !important;
    height: 100%;
    color: #009e72 !important;
}

.fb-share-button {
    width: 90px;
    height: 23px;
    background-color: #ffffff !important;
    background: url(images/fb_share.png) no-repeat !important;
    display: block !important;
    margin:0 auto; /* this will center  it */
    position:relative !important;
}

.close-modal-button {
    color: #009e72 !important;
    background-color: #ffffff !important;
    border: 1px solid #009e72 !important;
    display:block; /* change this from inline-block */
    width: 50px; /* setting the width */
    margin:0 auto; /* this will center  it */
    position:relative;
}

.vote-modal-title {
    color: #009e72;
    width: 100%;
    text-align: center;
    margin-top: 5px;
}

.vote-modal-container {
    background-color: white;
    width: 210px;
    height: 120px;
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px; 
    border-radius: 10px;
}

/* RADIO BUTTON CUSTOM */
input[type=radio].css-checkbox {
	position:absolute;
    z-index:-1000;
    left:-1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height:1px;
    width:1px;
    margin:-1px;
    padding:0;
    border:0;
}

input[type=radio].css-checkbox + label.css-label {
	padding-left:23px;
	height:18px; 
	display:inline-block;
	line-height:18px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:18px;
	vertical-align:middle;
	cursor:pointer;

}

input[type=radio].css-checkbox:checked + label.css-label {
	background-position: 0 -18px;
}
label.css-label {
	background-image:url(images/radioButton.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


/* OVERRIDES*/
.km-listview-wrapper {
    padding: 0px !important;
    margin: 0px !important;
}

.km-list>li {
    padding: 0px;
    margin: 0px;
}

.km-ios7 .km-listview-wrapper {
    padding: 0px !important;
    margin: 0px !important;
}

.km-ios7 .km-list>li {
    padding: 0px;
    margin: 0px;
}
